<%- include('../partials/head') %>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="auth-form">
                    <h2 class="mb-4 text-center">Esqueci a senha</h2>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-paper-plane"></i> Enviar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/js/auth.js"></script>
    <%- include('../partials/footer') %>