<%- include('../partials/head') %>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="auth-form">
                    <h2 class="mb-4 text-center">Reset Password</h2>
                    <div class="mb-3">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-circle-check"></i>Confirm </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<script src="/js/auth.js"></script>
    <%- include('../partials/footer') %>