<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library - <%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="toast-container"></div>
    <div class="menu">
        <nav class="navbar">
            <div class="logo">
                <a class="navbar-brand" href="/">Library</a>
            </div>
            <div class="menu-btn">
                <% if(title === 'Login' || title === 'Register' || title === 'Forgot Password' || title === 'Reset Password') { %>
                    <a href="/"><button class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Voltar</button></a>
                <% } else { %>
                    <a href="/auth/login"><button class="btn btn-secondary"><i class="fa-solid fa-right-to-bracket"></i> Login</button></a>
                <% } %>
            </div>
        </nav>
    </div>
<script src="/js/toast.js"></script>